<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

<!--    <bean id="testBean"-->
<!--          class="com.fisproject.entity.project.Project">-->
<!--        <constructor-arg value="Neil"/>-->
<!--    </bean>-->
<!--    <bean id="decor"-->
<!--          class="com.fisproject.entity.project.DecorElement">-->
<!--    </bean>-->
<!--    <bean id="furniture"-->
<!--          class="com.fisproject.entity.project.Furniture">-->
<!--    </bean>-->
<!--    <bean id="designer"-->
<!--          init-method="initMethod"-->
<!--          scope="prototype"-->
<!--            class="com.fisproject.entity.Designer">-->
<!--        <constructor-arg index="0">-->
<!--           <array>-->
<!--               <value>Ion</value>-->
<!--               <value>Tsonku</value>-->
<!--           </array>-->
<!--        </constructor-arg>-->
<!--        <constructor-arg index="1" ref="furniture"/>-->
<!--        <property name="firstName" value="Vasea"/>-->
<!--    </bean>-->
<context:component-scan base-package="com.fisproject.entity"/>
</beans>